@import "../../HCTheme.scss";
#customNoEntity .ant-collapse-content {
    border-top: transparent;
}

.curateTab {
    height: 100% !important;
    border: 0 !important;
    border-bottom: 2px solid transparent !important;
    color: $text-color !important;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    &:hover {
        border-bottom: 2px solid $info !important;
        color: $info !important;
    }
    &.active {
        border-bottom: 2px solid $info !important;
        margin-left: 0 !important;
        color: $info !important;
    }
}
